<h3> <%= link_to "Back to games", games_path %> </h3>
<h2><%= @user.username %> Profile </h2>
<div>
  <aside>
    <%= form_with method: :get do |form| %>
      <%= form.label :query, "Search for player:" %>
      <%= form.text_field :query, value: params[:query] %>
      <%= form.submit "Search" %>
    <% end %>
    <% if @users.present? %>
      <%= render 'profiles/profile_search', users: @users %>
    <% end %>
  </aside>
  <% if @user&.avatar&.attached? %>
    <%= image_tag(@user.avatar, style: "display: height: 200px;
                                                 width: 200px;
                                                 object-fit: cover;")%>
  <% else %>
    <%= image_tag "guestavatar1.png",style: "display: height: 200px;
                                                      width: 200px;
                                                      object-fit: cover;" %>
  <% end %>

    <h4>
    <div>Games played <%= @user.games_count%> </div>
    <div>Wins <%= @user.wins_count%> </div>
    <% if !@winrate.nan?%>
      <div>Winrate <%= @winrate %>% </div>
    <% end %>
    </h4>
</div>


<h4> <%= @user.username%> Friends </h4>
<%= turbo_stream_from "#{dom_id(@user)}_friendships"%>
<div id = "friendships">
  <%= render @friends, user: @user%>
</div>

<div>
  <% if policy(@user).friends? %>
    <%= render 'friendships/add_friend', user: @user%>
  <% end %>
</div>

<% if current_user == @user%>
  <%= turbo_stream_from "#{dom_id(@user)}_notifications" %>
  <div id = 'notifications'>
      <h4> You got <span id ='notification_counter'> <%= @user.notifications.count %> </span> notifications! </h4>
      <% if policy(@user).has_notifications? %>
        <%= render "notifications/notifications", user: @user, notifications: @notifications%>
      <% end %>
  </div>
<% end %>
