<h3> <%= link_to "Back to games", games_path %> </h3>
<h2><%= @user.username %> Profile </h2>
<div>
  <aside>
    <%= form_with method: :get do |form| %>
      <%= form.label :query, "Search for player:" %>
      <%= form.text_field :query, value: params[:query] %>
      <%= form.submit "Search" %>
    <% end %>
    <% if @users.present? %>
      <%= render 'profiles/profile_search', users: @users %>
    <% end %>
  </aside>
  <% if @user&.avatar&.attached? %>
    <%= image_tag(@user.avatar, style: "display: height: 200px;
                                                 width: 200px;
                                                 object-fit: cover;")%>
  <% else %>
    <%= image_tag "guestavatar1.png",style: "display: height: 200px;
                                                      width: 200px;
                                                      object-fit: cover;" %>
  <% end %>
 <%# TODO: Winrate system %>
 <%# TODO: Friends system %>

    <h4>
    <div>Games played <%= @profile.games%> </div>
    <div>Wins <%= @profile.wins%> </div>
    <% if !@winrate.nan?%>
      <div>Winrate <%= @winrate %>% </div>
    <% end %>
    </h4>
</div>


<h4> <%= @user.username%> Friends </h4>
<div>
  <%= render @profile.friends%>
  <% if current_user && current_user != @user &&
        @profile.friends.find_by(number: current_user.number).nil? &&
        @profile.friend_requests.find_by(number: current_user.number).nil? &&
        current_user.profile.friends.find_by(number: @user.number).nil? &&
        current_user.profile.friend_requests.find_by(number: @user.number).nil? %>

    <%= render 'friends/add_friend', profile: @profile%>
  <% end %>
</div>

<% if current_user == @user && @profile.friend_requests.present?%>
  <div>
    <h4> Friend requests </h4>
    <%= render @profile.friend_requests, profile: @profile%>
  </div>
<% end %>
