<h3> <%= link_to "Back to games", games_path %> </h3>
<h2><%= @user.username %> Profile </h2>
<div>
  <aside>
    <%= form_with method: :get do |form| %>
      <%= form.label :query, "Search for player:" %>
      <%= form.text_field :query, value: params[:query] %>
      <%= form.submit "Search" %>
    <% end %>
    <% if @users.present? %>
      <%= render 'profiles/profile_search', users: @users %>
    <% end %>
  </aside>
  <% if @user&.avatar&.attached? %>
    <%= image_tag(@user.avatar, style: "display: height: 200px;
                                                 width: 200px;
                                                 object-fit: cover;")%>
  <% else %>
    <%= image_tag "guestavatar1.png",style: "display: height: 200px;
                                                      width: 200px;
                                                      object-fit: cover;" %>
  <% end %>

    <h4>
    <div>Games played <%= @user.games_count%> </div>
    <div>Wins <%= @user.wins_count%> </div>
    <% if !@winrate.nan?%>
      <div>Winrate <%= @winrate %>% </div>
    <% end %>
    </h4>
</div>


<h4> <%= @user.username%> Friends </h4>
<div>
  <%= render @user.friends.where(request: false), user: @user%>
  <%= render @user.friends_reqs.where(request: false), user: @user%>
</div>

<div>
  <% if current_user && current_user != @user &&
        @user.friends.find_by(whoSent_id: current_user.id, user_id: @user.id).nil? &&
        current_user.friends.find_by(whoSent_id: @user.id, user_id: current_user.id).nil? %>

    <%= render 'friends/add_friend', user: @user%>

  <% end %>
</div>

<% if current_user == @user && @user.friends.where(request: true).present? &&%>
  <div>
    <h4> Friend requests </h4>
    <%= render @user.friends.where(request:true), user: @user%>
  </div>
<% end %>
