<% if friend.request == true %>

  <div>
    <% if friend&.avatar&.attached? %>
        <%= link_to (image_tag friend.avatar, class: "avatar"), "/id/#{friend.whoSent_id}"%>
      <% else %>
        <%= link_to (image_tag "guestavatar1.png", class: "avatar"), "/id/#{friend.whoSent_id}" %>
      <% end %>
    <%= friend.username %>

    <%= form_with(model: friend, method: "patch") do |form| %>
        <div><%= form.hidden_field :request, value: true %></div>
        <div><%= form.submit 'Accept' %></div>
      <% end %>
    <%= form_with(model: friend, method: "patch") do |form| %>
        <div><%= form.hidden_field :request, value: false %></div>
        <div><%= form.submit 'Decline' %></div>
      <% end %>

  </div>

<% else %>

  <div>
  <% if friend&.avatar&.attached? %>
      <%= link_to (image_tag friend.avatar, class: "avatar"), "/id/#{friend.whoSent_id}"%>
    <% else %>
      <%= link_to (image_tag "guestavatar1.png", class: "avatar"), "/id/#{friend.whoSent_id}" %>
    <% end %>
  <%= friend.username %>
  </div>

<% end %>
