  <% if friend.request == true %>
      <div>
        <% if friend.sender&.avatar&.attached? %>
            <%= link_to (image_tag friend.sender.avatar, class: "avatar"), "/id/#{friend.sender_id}"%>
          <% else %>
            <%= link_to (image_tag "guestavatar1.png", class: "avatar"), "/id/#{friend.sender_id}" %>
          <% end %>
        <%= friend.sender.username %>

        <%= form_with(model: friend, method: "patch") do |form| %>
            <div><%= form.hidden_field :request, value: true %></div>
            <div><%= form.submit 'Accept' %></div>
          <% end %>
        <%= form_with(model: friend, method: "patch") do |form| %>
            <div><%= form.hidden_field :request, value: false %></div>
            <div><%= form.submit 'Decline' %></div>
          <% end %>
      </div>
  <% else %>

    <% if friend.receiver == user %>
      <div>
      <% if friend.sender&.avatar&.attached? %>
          <%= link_to (image_tag friend.sender.avatar, class: "avatar"), "/id/#{friend.sender_id}"%>
        <% else %>
          <%= link_to (image_tag "guestavatar1.png", class: "avatar"), "/id/#{friend.sender_id}" %>
        <% end %>
      <%= friend.sender.username %>
      </div>
    <% else %>
      <% if friend.receiver&.avatar&.attached? %>
      <div>
          <%= link_to (image_tag friend.receiver.avatar, class: "avatar"), "/id/#{friend.receiver_id}"%>
        <% else %>
          <%= link_to (image_tag "guestavatar1.png", class: "avatar"), "/id/#{friend.receiver_id}" %>
        <% end %>
      <%= friend.receiver.username %>
      </div>
    <% end %>

  <% end %>
