<div id = "user_guest_form">
  <%= form_with(model: [game, participant]) do |form| %>

    <div>
      <strong> Name </strong>
      <div>
        <%= form.text_field :name%>
      </div>
    </div>

    <div>
      <strong> Number </strong>
      <div>
        <%= form.text_field :number%>
      </div>
    </div>
      <%= form.hidden_field :creator_id, value: user.id%>
    <div>
      <%= form.submit "Join" %>
    </div>

  <% end %>
</div>
