<% if @user_w && @user_w&.avatar&.present? %>
  <h3> Winner <div> <%= link_to (image_tag (@user_w.avatar), class: "avatar"), "/id/#{@user_w.id}" %> - <%= @user_w.username %> </div> </h3>
<% elsif @user_w %>
  <h3> Winner <div> <%= link_to (image_tag "guestavatar1.png",class: "avatar"), "/id/#{@user_w.id}" %> - <%= @user_w.username %> </div></h3>
<% elsif @winner%>
  <h3> Winner <div> <%= image_tag "guestavatar1.png",class: "avatar" %> - <%= @winner.name %> </div></h3>
<% end %>
