<% if winner&.user&.avatar&.present? %>
  <h3> Winner <div> <%= link_to (image_tag (winner.user.avatar), class: "avatar"), "/id/#{winner.user.id}" %> - <%= winner.name %> </div> </h3>
<% elsif winner&.user%>
  <h3> Winner <div> <%= link_to (image_tag "guestavatar1.png",class: "avatar"), "/id/#{winner.user.id}" %> - <%= winner.name %> </div></h3>
<% elsif winner%>
  <h3> Winner <div> <%= image_tag "guestavatar1.png",class: "avatar" %> - <%= winner.name %> </div></h3>
<% end %>
