    <% if friendship.receiver == user %>
      <%= turbo_frame_tag "#{dom_id(friendship)}" do %>
      <div>
      <% if friendship.sender&.avatar&.attached? %>
          <%= link_to (image_tag friendship.sender.avatar, class: "avatar"), "/id/#{friendship.sender_id}", data: { turbo: :false }%>
        <% else %>
          <%= link_to (image_tag "guestavatar1.png", class: "avatar"), "/id/#{friendship.sender_id}", data: { turbo: :false }%>
        <% end %>
      <%= friendship.sender.username %>
      </div>
      <% end %>
    <% else %>
      <%= turbo_frame_tag "#{dom_id(friendship)}" do %>
      <div>
        <% if friendship.receiver&.avatar&.attached? %>
          <%= link_to (image_tag friendship.receiver.avatar, class: "avatar"), "/id/#{friendship.receiver_id}", data: { turbo: :false }%>
        <% else %>
          <%= link_to (image_tag "guestavatar1.png", class: "avatar"), "/id/#{friendship.receiver_id}", data: { turbo: :false }%>
        <% end %>
      <%= friendship.receiver.username %>
      </div>
      <% end %>
    <% end %>
