<div id="<%= dom_id game %>">
  <article>
      <% if game.winner_id.present?%>
        <h3> Finished </h3>
      <% end %>


      <p>
        <strong>Name:</strong>
        <%= game.name %>
      </p>

      <% if game.desc.present? %>
        <p>
          <strong>Desc:</strong>
          <%= game.desc %>
        </p>
      <% end %>

        <p>
          <strong>Members:</strong>
          <span id = 'participants_counter'> <%= game.participants.count %></span>/<%= game.members %>
        </p>
      <p> <%= link_to "Show this game", game %> </p>
  </article>
</div>
