<div id="<%= dom_id game %>" class = 'flex flex-row w-5xl mb-8 py-8 border-2 rounded-lg justify-between'>
  <div class = 'px-5 '>
      <p class = 'pb-2'>
      <% if game.winner_id.present?%>
        <h3> Finished </h3>
      <% end %>
      </p class = 'pb-2'>


      <p class = 'pb-2'>
        <%= link_to game.name, game, class: 'pb-2'%>
      </p class = 'pb-2'>

      <% if game.desc.present? %>
        <p class = 'pb-2'>
          <strong>Desc:</strong>
          <%= game.desc %>
        </p class = 'pb-2'>
      <% end %>


        <p class = 'pb-2'>
          <strong>Members:</strong>
          <span id = 'participants_counter'> <%= game.participants.count %></span>/<%= game.members %>
        </p class = 'pb-2'>
  </div>


  <div id = 'participants-container' class = 'flex flex-row '>
    <div id = "<%= dom_id game%>_participants" class = 'flex flex-row flex-wrap justify-center items-center'>
      <%= render game.participants %>
    <% if game.participants.count < game.members%>
      <div id = "<%= dom_id game%>_join_icon" class = 'flex flex-col justify-center items-center mr-4'>
          <%= render 'participants/blank_avatar', user: user, game: game %>
          Join?
      </div>
    <% end %>
    </div>
  </div>
</div>


