<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= game.creator.email %>
  </p>

  <% unless game.desc.empty? %>
    <p>
      <strong>Desc:</strong>
      <%= game.desc %>
    </p>
  <% end %>

  <p>
    <strong>Members:</strong>
    <%= game.participants.length %>/<%= game.members %>
  </p>

</div>
