<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <% if game.desc.present? %>
    <p>
      <strong>Desc:</strong>
      <%= game.desc %>
    </p>
  <% end %>

  <p>
    <strong>Members:</strong>
    <%= game.participants.length %>/<%= game.members %>
  </p>

</div>
