<% if game.winner.blank? && policy(game).full?%>
  <aside>
    <p>
    <% if policy(game).join? %>
        <%= render "games/participants", game: game%>
    <% end %>

    <% if user %>
      <h3> Wanna add friend ? </h3>
      <%= render "participants/new_guest_user", user: current_user, game: game, participant: Participant.new%>
    <% end %>

    <% if user && policy(game).current_user_participates? %>
      <%= turbo_stream_from "#{dom_id(game)}_#{dom_id(user)}_friends"%>
      <div id = "<%="#{dom_id(user)}"%>_friends">
        <%= render "games/game_invites/invite_friends", user: user, friends: friends, game: game %>
      </div>
    <% end %>
    </p>
  </aside>
<% end %>
