<p style="color: green">
  <%= notice %>
</p>

<div>
  <%= render @game %>
    <% @game.participants.each do |participant|%>
    <div>
      <% if participant.number == @game.creator.number %>
        (crown)
      <% end %>
      <%= participant.name %> - <%= participant.number %>
    </div>
    <% end %>
    <br/>
    <br/>

  <div>
    <%= link_to "Edit this game", edit_game_path(@game) %> |
    <%= link_to "Back to games", games_path %>
    <%= button_to "Destroy this game", @game, method: :delete %>
  </div>
</div>
<br/>
<br/>

<%= render "games/participants", game: @game%>
