<div>
  <div>
    <% unless @game.winner_id.present? %>
      <%= render "games/join", game: @game%>
    <% end %>
    <%= render @game %>

    <% if @winner&.avatar&.present? && @winner.user_id %>
      <h3> Winner <div> <%= link_to (image_tag (@winner.avatar), class: "avatar"), "/id/#{@winner.user_id}" %> - <%= @winner.name %> </div> <h3>
    <% elsif @winner && @winner.user_id %>
      <h3> Winner <div> <%= link_to (image_tag "guestavatar1.png",class: "avatar"), "/id/#{@winner.user_id}" %> - <%= @winner.name %> </div><h3>
    <% elsif @winner.present?%>
     <h3> Winner <div> <%= image_tag "guestavatar1.png",class: "avatar" %> - <%= @winner.name %> </div><h3>
    <% end %>
  </div>
  <%= render "participants/participant", game: @game, participants: @participants%>
    <br/>
    <br/>

  <% if policy(@game).choose_winner? %>
    <%= render "participants/win_selector", game: @game, participants: @participants %>
  <% end %>
  <div>



  <% if policy(@game).update?%>
    <%= link_to "Edit this game", edit_game_path(@game) %> |
  <% end %>
  <% if policy(@game).destroy?%>
    <%= button_to "Destroy this game", @game, method: :delete %>
  <% end %>
    <%= link_to "Back to games", games_path %>
  </div>
</div>
<br/>
<br/>
<br/>


