<div>

  <div>
    <%= turbo_frame_tag "#{dom_id(@game)}_joining" do %>
        <%= render "games/join", game: @game, user: current_user, friends: @eligible_friends%>
    <% end %>
    <%= render @game %>

    <%= turbo_frame_tag "#{dom_id(@game)}_winner" do %>
      <%= render '/participants/winner', winner: @game.winner%>
    <% end %>

    <%= turbo_stream_from "participants_#{dom_id(@game)}"%>
    <%= turbo_frame_tag "participants_#{dom_id(@game)}" do %>
      <%= render @participants, game: @game%>
    <% end %>
  </div>


  <%# TODO: Add little popups of User's profiles with info %>
  <br/>
  <br/>
    <%= turbo_frame_tag "#{dom_id(@game)}_win_selector" do %>
      <%= render "participants/win_selector", game: @game, participants: @participants %>
    <% end %>
  <div>
    <%= link_to "Edit this game", edit_game_path(@game) if policy(@game).update?%>
    <%= button_to "Destroy this game", @game, method: :delete if policy(@game).destroy? %>
    <%= link_to "Back to games", games_path %>
  </div>

</div>
<br/>
<br/>
<br/>


