<p style="color: green">
  <%= notice %>
</p>

<div>
  <%= render @game %>
    <%= render @game.participants%>
    <br/>
    <br/>

  <div>
    <%= link_to "Edit this game", edit_game_path(@game) %> |
    <%= link_to "Back to games", games_path %>
    <%= button_to "Destroy this game", @game, method: :delete %>
  </div>
</div>
<br/>
<br/>

<%= render "games/participants", game: @game%>
