<p style="color: green">
  <%= notice %>
</p>

<div>
  <%= render @game %>
  <%= render @game.participants%>
    <br/>
    <br/>

  <div>
  <% if policy(@game).update?%>
    <%= link_to "Edit this game", edit_game_path(@game) %> |
    <%= button_to "Destroy this game", @game, method: :delete %>
  <% end %>
    <%= link_to "Back to games", games_path %>
  </div>
</div>
<br/>
<br/>
<br/>

<% if @game.participants.length < @game.members && (current_user.nil? || @game.participants.where(number: current_user.number).empty?) %>
    <%= render "games/participants", game: @game%>
<% end %>

<% if user_signed_in? && @game.participants.length < @game.members %>
  <h2> Wanna add friend ? </h2>
  <%= render "participants/new", game: @game%>
<% end%>
