<div>
  <div>
    <% if @game.winner.blank? %>
      <%= render "games/join", game: @game%>
    <% end %>
    <%= render @game %>

    <% if @user_w && @user_w&.avatar&.present? %>
      <h3> Winner <div> <%= link_to (image_tag (@user_w.avatar), class: "avatar"), "/id/#{@user_w.id}" %> - <%= @user_w.username %> </div> <h3>
    <% elsif @user_w %>
      <h3> Winner <div> <%= link_to (image_tag "guestavatar1.png",class: "avatar"), "/id/#{@user_w.id}" %> - <%= @user_w.username %> </div><h3>
    <% elsif @winner%>
     <h3> Winner <div> <%= image_tag "guestavatar1.png",class: "avatar" %> - <%= @winner.name %> </div><h3>
    <% end %>
  </div>
  <%= render @participants, game: @game%>
    <br/>
    <br/>

  <% if policy(@game).choose_winner? %>
    <%= render "participants/win_selector", game: @game, participants: @participants %>
  <% end %>
  <div>



  <% if policy(@game).update?%>
    <%= link_to "Edit this game", edit_game_path(@game) %> |
  <% end %>
  <% if policy(@game).destroy?%>
    <%= button_to "Destroy this game", @game, method: :delete %>
  <% end %>
    <%= link_to "Back to games", games_path %>
  </div>
</div>
<br/>
<br/>
<br/>


