<% @prices.each do |price| %>
  <div>
    <%= price.product.name %>
    <%= price.unit_amount / 100.0 %>
    <%= price.currency %>
    <%= price.recurring.interval %>
    <%= button_to 'Subscribe', stripe_checkout_path(price_id: price.id), data: {turbo: false} %>
  </div>
<% end %>
<%= button_to "Billing portal", stripe_billing_portal_path, data: {turbo: false}%>
