<div>
  <% if friend_request&.avatar&.attached? %>
    <%= link_to (image_tag friend_request.avatar, class: "avatar"), "/profiles/#{friend_request.friend_id}"%>
  <% else %>
    <%= link_to (image_tag "guestavatar1.png", class: "avatar"), "/profiles/#{friend_request.friend_id}" %>
  <% end %>
  <%= friend_request.username %>
  <div>
    <%= form_with(model: [profile, Friend.new]) do |form| %>
        <%= form.hidden_field :username, value: friend_request.username%>
        <%= form.hidden_field :number, value: friend_request.number%>
        <%= form.hidden_field :profile_id, value: friend_request.profile_id%>
        <%= form.hidden_field :user_id, value: friend_request.friend_id%>
    <div>
      <%= form.submit "Accept" %>
    </div>
  <% end %>
    <%= button_to "Decline", friend_request, method: :delete%>
  </div>
</div>
