<div class = 'flex flex-row justify-center items-center'>
  <% if !user_signed_in? %>
    <div>
      <%= link_to "Log in", new_session_path %> |  <%= link_to "Sign up", new_registration_path %>
    </div>
  <% else %>

    <%= turbo_stream_from "#{dom_id(current_user)}_notifications" %>
    <div data-controller="notification-dropdown" class="relative pt-2 shrink-0">
      <button id = 'notification_button' type="button"
              data-action="notification-dropdown#toggle
                           click@window->notification-dropdown#hide">
      <% if current_user.notifications.present?%>
        <div id = 'notification_pulsing_element' class = 'absolute right-0 animate-pulse bg-[#edc0c1] rounded-full h-2 w-2'> </div>
      <% end %>
        <%= image_tag('notifications.png', class: 'h-6 w-6')%>
      </button>
      <div
        id = "notification_window"
        data-notification-dropdown-target="menu"
        class="hidden rounded-2xl transition transform origin-top-right duration-300 absolute w-96 right-0 bg-slate-500 py-5"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
      >
        <div id = 'notifications' class = 'flex flex-col px-4 gap-10'>
            <div id = notifications_message>
              You got <span id = notification_counter> <%= current_user.notifications.count %> </span> notifications
            </div>
            <% if policy(current_user).has_notifications? %>
              <%= render "notifications/notifications", user: current_user, notifications: current_user.notifications%>
            <% end %>
        </div>
      </div>
    </div>

    <div class = 'pr-4 pl-6'>
      <div class="group inline-block relative">
        <p class="outline-none focus:outline-none text-black font-semibold rounded inline-flex items-center">
          <span class="mr-1"> <%= current_user.username%> </span>
          <span>
            <svg
              class="fill-current h-4 w-4 transform group-hover:-rotate-180
              transition duration-150 ease-in-out"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20">
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </p>
        <ul class= "absolute text-black pt-1 transform -right-5 scale-0 group-hover:scale-100 transition duration-250 ease-in-out origin-top min-w-32">
          <li> <%= link_to "Profile", user_profile_path(current_user.id), class: 'rounded-t-2xl text-left bg-gray-200 hover:bg-gray-400 py-2 px-4 text-black block whitespace-no-wrap w-28'%> </li>
          <li> <%= link_to "Edit", edit_registration_path(current_user), class: 'bg-gray-200 hover:bg-gray-400 text-left py-2 px-4 block whitespace-no-wrap w-28'%> </li>
          <li> <%= button_to "Exit", session_path(current_user), method: :delete, class: 'rounded-b-2xl bg-gray-200 hover:bg-gray-400 text-left py-2 px-4 block whitespace-no-wrap w-28'%> </li>
        </ul>
      </div>
    </div>



    <div id = 'avatar' class = ' shrink-0'>
      <% if current_user&.avatar&.attached? %>
        <%= link_to(image_tag(current_user.avatar, class: "navbar_avatar"), "/id/#{current_user.id}") %>
      <% else %>
        <%= link_to(image_tag("guestavatar1.png", class: "navbar_avatar"), "/id/#{current_user.id}") %>
      <% end %>
    </div>

  <% end %>
</div>
