<!DOCTYPE html>
<html>
  <head>
    <title>RealBoardgames</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <link rel="stylesheet", href="https://cdn.simplecss.org/simple.min.css" > %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_stream_from 'online_users', channel: OnlineChannel%>
    <header style="text-align:center;">
      <div>
        <%= link_to image_tag('yellowboardgamelogo.png', width: "150", height: "150"), games_path%>
      </div>
      <%# TODO: Add notification Noticed Gem %>
      <%= render "layouts/session_manager"%>
    </header>
    <%= turbo_frame_tag 'flash_messages' do %>
      <%= render "layouts/flash_messages", alert: alert, notice: notice %>
    <% end %>
    <%= yield %>
  </body>
</html>
