<!DOCTYPE html>
<html>
  <head>
    <title>RealBoardgames</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet", href="https://cdn.simplecss.org/simple.min.css" >
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header style="text-align:center;">
          <div>
            <%= link_to image_tag('yellowboardgamelogo.png', width: "150", height: "150"), games_path%>
          </div>
        <% unless user_signed_in? %>
          <%= link_to "Log in", new_user_session_path %> /  <%= link_to "Sign up", new_user_registration_path %>
        <% else %>
          <%= current_user.email %> | <%= button_to "Exit", destroy_user_session_path, method: :delete %>
        <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
